body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(./images/green-fibers.png);
}

nav{
    position: fixed;
    top: 0;
    overflow: hidden;
    margin-top: 20px;
}

.navigation{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}